{% load static %}
<!-- Add Client Modal -->
<div class="modal fade" id="addEmployeeModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-layer-plus"></i> Add New Employee</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="peo" value="PEO45678">

                <div class="modal-body pb-0">

                    <!-- Basic Information Section -->
                    <h5 class="mb-3">Basic Information</h5>
                    <div class="row g-3 mb-4">

                        <div class="col-md-4">
                            <label class="form-label">Employee ID <span class="text-danger">*</span></label>
                            <input type="text" name="ee_id" class="form-control" required>
                            <small class="text-muted">Unique alphanumeric employee ID</small>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Client ID <span class="text-danger">*</span></label>
                            <input type="text" name="client" class="form-control" required>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">SSN <span class="text-danger">*</span></label>
                            <input type="text" name="ssn" maxlength="11" class="form-control" required
                                placeholder="XXX-XX-XXXX">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Age <span class="text-danger">*</span></label>
                            <input type="number" name="age" class="form-control" required>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Gender <span class="text-danger">*</span></label>
                            <select class="form-select" name="gender" required>
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Marital Status <span class="text-danger">*</span></label>
                            <select class="form-select" name="marital_status" required>
                                <option value="">Select Marital Status</option>
                                <option value="Unmarried">Unmarried</option>
                                <option value="Married">Married</option>
                                <option value="Divorced">Divorced</option>
                                <option value="Widowed">Widowed</option>
                            </select>
                        </div>

                        
                        <div class="col-md-4">
                            <label class="form-label">Spouse Age</label>
                            <input type="number" name="spouse_age" class="form-control" min="0" placeholder="Enter Spouse Age">
                        </div>
                    </div>

                    <!-- Location & Employment Section -->
                    <h5 class="mb-3">Location & Employment</h5>
                    <div class="row g-3 mb-4">

                        <div class="col-md-4">
                            <label class="form-label">Home State <span class="text-danger">*</span></label>
                            <select class="form-select" name="home_state" required>
                                <option value="">Select Home State</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                                <!-- Add other states as needed -->
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Work State <span class="text-danger">*</span></label>
                            <select class="form-select" name="work_state" required>
                                <option value="">Select Work State</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                        </div>

                        <!-- Filing Status -->
                        <div class="col-md-4">
                            <label class="form-label">Filing Status <span class="text-danger">*</span></label>
                            <select class="form-select" name="filing_status" required>
                                <option value="">Select Filing Status</option>
                                <option value="single">Single</option>
                                <option value="married_filing_joint_return">Married Filing Jointly</option>
                                <option value="married_filing_separate_return">Married Filing Separately</option>
                                <option value="head_of_household">Head of Household</option>
                            </select>
                        </div>

                        <!-- Student Default Loan -->
                        <div class="col-md-4">
                            <label class="form-label">Number of Student Default Loans <span class="text-danger">*</span></label>
                            <input type="number" name="number_of_student_default_loan" class="form-control" value="0" required>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Number of Exemptions <span class="text-danger">*</span></label>
                            <input type="number" name="number_of_exemptions" class="form-control" required>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Dependent Children</label>
                            <input type="number" name="number_of_dependent_child" class="form-control" value="0">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Active Garnishments</label>
                            <input type="number" name="number_of_active_garnishment" class="form-control" value="0">

                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Garnishment Suspended Till</label>
                            <input type="date" name="garnishment_fees_suspended_till" class="form-control">
                        </div>
                    </div>

                    <!-- Status & Conditions Section -->
                    <h5 class="mb-3">Status & Conditions</h5>
                    <div class="mb-3">
                        <label class="form-label">Is Active</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_active" id="is_active_true"
                                value="true" checked>
                            <label class="form-check-label" for="is_active_true">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_active" id="is_active_false"
                                value="false">
                            <label class="form-check-label" for="is_active_false">Inactive</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Garnishment Fees Status</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="garnishment_fees_status" value="true">
                            <label class="form-check-label">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="garnishment_fees_status" value="false"
                                checked>
                            <label class="form-check-label">Suspended</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Support Second Family</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="support_second_family" value="true">
                            <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="support_second_family" value="false"
                                checked>
                            <label class="form-check-label">No</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Is Blind</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_blind" value="true">
                            <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_blind" value="false" checked>
                            <label class="form-check-label">No</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Is Spouse Blind</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_spouse_blind" value="true">
                            <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_spouse_blind" value="false" checked>
                            <label class="form-check-label">No</label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Employee</button>
                </div>
            </form>
        </div>
    </div>
</div>

