{% include 'inc/header.html' %}
{% load static %}
{% include 'inc/topbar.html' %}
{% include 'inc/sidebar.html' %}
<!-- Page Content -->
<style>
    .form-control-sm.hover {
        border-color: #000;
    }
</style>
<div class="content">
    <div class="card mt-3">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
            <h5>State Tax Levy - Rule List</h5>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                <div class="d-flex my-xl-auto right-content align-items-center flex-wrap " style="margin-left: 10px;">
                    <a href="#" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#search_rule"
                        class="btn btn-sm btn-secondary d-flex align-items-center"><i class="ti ti-search me-2"></i>
                        Search</a>
                    <a href="#" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#add_rule"
                        class="btn btn-sm btn-primary d-flex align-items-center"><i
                            class="ti ti-circle-plus me-2"></i>Add
                        New
                        Rule</a>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="no-sort">#</th>
                            <th>State</th>
                            <th>Deduction Basis</th>
                            <th>Withholding Cap</th>
                            <th>Rule</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>California</td>
                            <td>Gross Income</td>
                            <td>50%</td>
                            <td>Applicable to salaried employees only</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Texas</td>
                            <td>Net Income</td>
                            <td>45%</td>
                            <td>Excludes seasonal workers</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Florida</td>
                            <td>Disposable Earnings</td>
                            <td>55%</td>
                            <td>Must comply with local exemptions</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>New York</td>
                            <td>Gross Income</td>
                            <td>60%</td>
                            <td>Priority to child support orders</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Illinois</td>
                            <td>Net Income</td>
                            <td>50%</td>
                            <td>Applicable for federal workers</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Arizona</td>
                            <td>Disposable Earnings</td>
                            <td>40%</td>
                            <td>Summer employment exemption</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Ohio</td>
                            <td>Net Income</td>
                            <td>47%</td>
                            <td>Includes part-time contracts</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Georgia</td>
                            <td>Gross Income</td>
                            <td>52%</td>
                            <td>Only for income above $8,000</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Michigan</td>
                            <td>Net Income</td>
                            <td>49%</td>
                            <td>Enforced by family court only</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Washington</td>
                            <td>Gross Income</td>
                            <td>53%</td>
                            <td>Includes environmental hazard pay</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Nevada</td>
                            <td>Net Income</td>
                            <td>42%</td>
                            <td>Applies to tourism-based businesses</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Colorado</td>
                            <td>Disposable Earnings</td>
                            <td>56%</td>
                            <td>Requires federal-state compliance check</td>
                            <td>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="View Details"><i
                                        class="ti ti-info-circle text-primary"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Edit"><i
                                        class="ti ti-edit text-dark"></i></a>
                                <a href="#" class="me-2" data-bs-toggle="tooltip" title="Delete"><i
                                        class="ti ti-trash text-danger"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                {% include 'partials/pagination.html' %}
            </div>
        </div>

    </div>
</div>
{% include 'garnish-process-app/garnish-rules/state-tax-levy/partials/add-rule.html' %}
{% include 'garnish-process-app/garnish-rules/state-tax-levy/partials/search.html' %}
<!-- /Page Content -->
{% include 'inc/footer.html' %}