asgiref
attrs
dj-database-url
Django
django-cors-headers
django-mssql-backend
django-rest-passwordreset
djangorestframework
djangorestframework-simplejwt
inflection
iniconfig
jsonschema
jsonschema-specifications
gunicorn
numpy
openapi
openpyxl
packaging
pandas
prompt_toolkit
psycopg2
pycparser
PyJWT
pyodbc
pypi
python-dateutil
pytz
PyYAML
django-debug-toolbar
vercel_blob
azure-core
urllib3
tzdata
azure-ai-documentintelligence
azure-ai-formrecognizer
azure-common
drf-yasg
requests
sqlparse
Pillow
django-environ
drf-spectacular
drf-spectacular-sidecar
django-browser-reload
mysqlclient
typing_extensions
