asgiref==3.8.1
attrs==24.2.0
dj-database-url==2.3.0
Django==4.2.15
django-cors-headers==4.6.0
django-mssql-backend==2.8.1
django-rest-passwordreset==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
inflection==0.5.1
iniconfig==2.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
gunicorn==23.0.0
numpy==2.1.0
openapi==2.0.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.2
prompt_toolkit==3.0.48
psycopg2==2.9.9
pycparser==2.22
PyJWT==2.10.0
pyodbc==5.2.0
pypi==2.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
django-debug-toolbar==5.0.1
vercel_blob==0.3.0
azure-core==1.34.0
urllib3==2.2.2
tzdata==2024.1
azure-ai-documentintelligence==1.0.2
azure-ai-formrecognizer==3.3.3
azure-common==1.1.28
drf-yasg==1.21.10
requests==2.32.3
sqlparse==0.5.1
Pillow==11.3.0
django-environ==0.12.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.8.1
django-browser-reload==1.18.0
mysqlclient==2.2.7
typing_extensions==4.13.2