{% load static %}
<!-- Header -->
<div class="header">
    <div class="main-header">

        <div class="header-left active">
            <a href="{% url 'dashboard' %}" class="logo">
                <img src="{% get_media_prefix %}{{ general_settings.white_logo }}"
                    alt="{{ general_settings.company_name }}">
            </a>
            <a href="{% url 'dashboard' %}" class="dark-logo">
                <img src="{% get_media_prefix %}{{ general_settings.dark_logo }}"
                    alt="{{ general_settings.company_name }}">
            </a>
        </div>
        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
            <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>

        <div class="header-user">
            <div class="nav user-menu nav-list">

                <div class="me-auto d-flex align-items-center" id="header-search">
                    
                </div>

                <div class="d-flex align-items-center">
                    <div class="me-1">
                        <a href="#" class="btn btn-sm btn-menubar btnFullscreen">
                            <i class="ti ti-maximize"></i>
                        </a>
                    </div>
                    <div class="dropdown me-1">
                        <a href="#" class="btn btn-sm btn-menubar" data-bs-toggle="dropdown">
                            <i class="ti ti-layout-grid-remove"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="card mb-0 border-0 shadow-none">
                                <div class="card-header">
                                    <h4>Applications</h4>
                                </div>
                                <div class="card-body">
                                    <a href="{% url 'garnishment-calculator' %}" class="d-block pb-2">
                                        <span class="avatar avatar-md bg-transparent-dark me-2"><i
                                                class="ti ti-calculator text-gray-9"></i></span>Calculator
                                    </a>
                                    <a href="{% url 'batch-processing' %}" class="d-block py-2">
                                        <span class="avatar avatar-md bg-transparent-dark me-2"><i
                                                class="ti ti-subtask text-gray-9"></i></span>Batch Processing
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown profile-dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle d-flex align-items-center"
                            data-bs-toggle="dropdown">
                            <span class="avatar avatar-sm online">
                                <img src="{% static 'app-assets/img/profiles/avatar-12.jpg' %}" alt="Img"
                                    class="img-fluid rounded-circle">
                            </span>
                        </a>
                        <div class="dropdown-menu shadow-none">
                            <div class="card mb-0">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <span class="avatar avatar-lg me-2 avatar-rounded">
                                            <img src="{% static 'app-assets/img/profiles/avatar-12.jpg' %}" alt="img">
                                        </span>
                                        <div>
                                            <h5 class="mb-0">{{request.user}}</h5>
                                            <p class="fs-12 fw-medium mb-0"><a href="#">{{user.email}}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="profile.html">
                                        <i class="ti ti-user-circle me-1"></i>My Profile
                                    </a>
                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="bussiness-settings.html">
                                        <i class="ti ti-settings me-1"></i>Settings
                                    </a>

                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="profile-settings.html">
                                        <i class="ti ti-circle-arrow-up me-1"></i>My Account
                                    </a>
                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="knowledgebase.html">
                                        <i class="ti ti-question-mark me-1"></i>Knowledge Base
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="{% url 'secure-logout' %}">
                                        <i class="ti ti-login me-2"></i>Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="dropdown mobile-user-menu">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-end">
                <!-- <a class="dropdown-item" href="profile.html">My Profile</a> -->
                <!-- <a class="dropdown-item" href="profile-settings.html">Settings</a> -->
                <a class="dropdown-item" href="{% url 'secure-logout' %}">Logout</a>
            </div>
        </div>
        <!-- /Mobile Menu -->
        
    </div>

</div>
<!-- /Header -->
