{% include 'inc/header.html' %}
{% load static %}
{% include 'inc/topbar.html' %}
{% include 'inc/sidebar.html' %}
<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-xl-3 d-flex"></div>
        <div class="col-xl-6 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h5 class="card-title"><i class="ti ti-key"></i> Change Password</h5>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label class="col-lg-4 form-label">Current Password <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="password" class="form-control" name="current_password" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-lg-4 form-label">New Password <span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="password" class="form-control" name="new_password" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-lg-4 form-label">Confirm Password <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="password" class="form-control" name="confirm_password" required>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 d-flex"></div>
</div>
<!-- /Page Content -->
{% include 'inc/footer.html' %}